/* Paienl da pagina principal de noticias */
.slide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}
.slide.active {
    opacity: 1;
    pointer-events: auto;
}
.nav-button {
    background-color: rgba(255, 255, 255, 0.7);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}